{% extends 'base.html' %}

{% block title %}Attollo Prep Admin - Delete {% endblock %}
{% block content %}
<div class="col-lg-3 mx-auto">
    <div class="card shadow mb-4">
        <div class="text-center">
            <form action="" method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete the item?</p>
                <input class="btn btn-primary" type="submit" value="Confirm" />
                <button onclick="window.history.back();" class="btn btn-danger" type="button">Cancel</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}