{% extends base_template|default:"base.html" %}
{% load crispy_forms_tags %}
{% block title %}Attollo Prep Admin - Upload{% endblock %}
{% block content %}
<div class="col-lg-6">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Upload Profile</h6>
        </div>
        <div class="card-body">

            <div class="input-group">

                {% crispy form %}

            </div>
        </div>
    </div>
</div>
{% endblock content %}