{% extends 'base.html' %}

{% block title %}Attollo Prep Admin{% endblock %}

{% load crispy_forms_tags %}

{% block links %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock %}

{% block content %}
<!-- https://bootsnipp.com/snippets/dlZAN -->

<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-3">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-6 ">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Welcome!</h1>

                                <p>This is the Attollo Prep Admin Website</p>
                                <a class="small" href="{% url 'login' %}"><button class="btn btn-primary "
                                        type="submit">Login</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Sign in</h1>

                                <a class="small" href="{% url 'student_signup' %}"><button class=" btn
                                    btn-primary " type=" submit">As
                                        Student</button></a>

                                <a class="small" href="{% url 'staff_signup' %}"><button class="btn btn-primary "
                                        type="submit">As Staff</button></a>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!------ Include the above in your HEAD tag ---------->


{% endblock %}