{% extends "basestaff.html" %}


{% block title %}Attollo Prep Admin{% endblock %}


{% block links %}
<!-- Custom styles for this template-->
<link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

{% endblock %}


{% block content %}
<!-- Content Row -->
<div class='row'>
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Schools</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>County</th>
                                <th>District</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>County</th>
                                <th>District</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for school in schools %}
                            <tr>
                                <td><a href="{{school.get_absolute_url}}">{{school.name}}</a></td>
                                <td>{{school.county}}</td>
                                <td>{{school.district}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Staff</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for s in staff %}
                            <tr>
                                <td><a href="{{s.get_absolute_url}}">{{s.fname}}</a></td>
                                <td>{{s.lname}}</td>
                                <td>{{s.email}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Page level plugins -->
<script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/static/js/demo/datatables-demo.js"></script>
<script>
    $(document).ready(function () {
        $('table.table').DataTable();
    });
</script>
{% endblock %}