{% extends "basestudent.html" %}

{% block title %}Attollo Prep Admin - Profile View{% endblock %}

{% block content %}
<div class="col-lg-6">
    <div class="card-body">
        <div class="card mb-4">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button"
                aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">{{object}}</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse show" id="collapseCardExample">
                <div class="card-body">

                    {% for label, value in object.get_fields_forprofile %}
                    {% if label == "Profile Picture" %}
                    {% if value %}
                    <p><b>{{label}}</b>: <img src="/media/{{ value }}"></p>
                    {% else %}
                    <p><b>{{label}}</b>: No Profile Image</p>
                    {% endif %}

                    {% else %}

                    <p><b>{{label}}</b>: {{ value }}</p>
                    {% endif %}
                    {% endfor %}
                    <a href="{% url 'student:update' object.pk %}" class="button"><input type="submit"
                            value="Update User"></a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}